<div class="row">
 <div class = "col-md-5">
   <div class="sub-ti">
<h2>会員一覧</h2>
   </div>
  </div>
</div>

<br>

<table class="table">

  <tr>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>

  <% @customers.each do|customer| %>
   <tr>
    <td><%=customer.id%></td>
    <td><%= link_to "#{customer.last_name}  #{customer.first_name}","/admin/customers/#{customer.id}"%></td>
    <td><%=customer.email%></td>
    <td>
     <%if customer.is_deleted%>
      <div class="text-secondary">退会</div>
    <%else%>
    <div class="text-success">有効</div>
    <%end%></td>
    
    <!--<td>-->
     <!--%= link_to("/admin/customers/#{customer.id}",method: :delete, data: {confirm: "本当に削除しますか？"} ) do %>-->
     <!--<button type="button">削除する</button>-->
     <!--%end%>-->
    <!--</td>-->

  <% end %>
  
  </table>
  <%= paginate @customers %>